@import "variables.scss";
.colugo {
    height: 20rem;
    transition: all .3s;
    border-radius: 50%;
    filter: saturate(300%)
}
.colugo:hover{
    border-radius: 0;
    filter: grayscale(300%);
    transform: scale(.85);
}